.vscode/**
.vscode-test/**
src/**
!src/webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!src/webview/*.html
!src/webview/*.js
**/.vscode-test.*
webview-ui/**
REVIEW.md
**/.npm-cache/**
**/.npm-cache-vsce/**
